.back {
   background: rgb(215, 250, 224);
   width: 100vw;
}

body {
   font-family: 'Trebuchet MS', Helvetica, sans-serif;
   width: 100vw;
   overflow-x: hidden;
   max-width: 100vw;
   margin: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
}
main {
   width: 90vw;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.img-container {
   width: 100%;
   display: grid;
   /* grid-template-columns: 1fr 1fr;
   grid-template-rows: auto; */
   gap: 20px;
   justify-items: center;
}
@media (width > 900px) {
   .img-container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
   }
}

.cod {
   background: rgb(247, 247, 247);
   font-family: 'JetBrains Mono', sans-serif;
   padding: 5pt;
}

.blue_c {
   color: blue;
}

.orange_c {
   color: rgb(163, 21, 21);
}

.green_c {
   color: rgb(17, 102, 68)
}

.purpl_c {
   color: rgb(175, 0, 219);
}
.yellow_c {
   color: rgb(121,94,38);
}
.text1 {
   border-radius: 10px;
   display: block;
   color: rgb(73, 36, 36);
   background: rgb(215, 250, 224);
   padding: 10px;
   width: calc(100% - 20px);
}

.t_v {
   background: rgba(2, 68, 2, 0.438);
   border-radius: 4pt;
   padding: 0.1rem;
   margin: 1px 0 1px 0;
   display: inline-block;
}
img {
   margin-top: 15px;
   max-width: 100%;
}

h1,
h2,
h3 {
   margin: 25px 0 5px 10px;
}
